@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: roboto;
  color: white;
}
body {
  background-color: #121212;
  align-content: center;
}
.image {
  border-radius: 20px;
  width: 10vw;
  padding-bottom: 10px;
}
.card {

  text-align: left;
}
p{
  font-family: roboto;
}
